<div class="panel">

	<!-- Abas -->
	<div class="panel-heading">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#">Mensalidades</a>
			</li>
			<li>
				<a href="#">Processos</a>
			</li>
			<li>
				<a href="#">Terceiros</a>
			</li>
			<li>
				<a href="#">Fechamento</a>
			</li>
		</ul>     
	</div>

	<!-- Conteudo Panel -->
	<div class="panel-body">
		<div class="tab-content">
			<%= render 'finances/steps/step_1' %>
			<%= render 'finances/steps/step_2' %>
			<%= render 'finances/steps/step_3' %>
			<%= render 'finances/steps/step_4' %>
		</div>
	</div>
</div>
