<h1>Novo usuário criado no sistema BRS</h1>

<p>
	Olá!
	<br><br>
	Novo usuário criado no sistema.
	<br><br>
	Nome: <%= @user.name %>
	<br>
	Email: <%= @user.email %>
	<br>
	Tipo: <%= @user.profile.name %>
	<br><br>
	Obrigado, Equipe BRS.
</p>

