<div class="container" id="lawyers_new">

	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head final-margin-lawyers">
			<h1>Cadastros > Terceiros > <a href="<%= lawyers_path %>">Advogados</a> > <a href="<%= edit_lawyer_path @lawyer %>">Alterar</a> > <%= @lawyer.name %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= render 'form'%>
		</div>
	</div>

</div>