<form>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Advogado responsável</label>
				<div class="inline">
					<input type="text" class="form-control size-width-default">
				</div>
				<a href="#" class="add-anchor">
					<span class="add-input">+</span>
				</a>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Cliente</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Tipo administrativo</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Tipo judicial</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data de início</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data final</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Resultado</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Órgão</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Modalidade</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Número</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Processo</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Número do protocolo</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Tipo de envio</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Arquivos do protocolo</label>
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="col-xs-2 view-div">
			<a href="#">Visualizar todos</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Situação</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>				
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div>
				<label for="#">Andamento da situação</label>
				<textarea class="form-control" rows="3"></textarea>
			</div>
			<a href="#" class="new-info">Incluir novas informações</a>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Upload da peça</label>
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="col-xs-2 view-div">
			<a href="#">Visualizar todos</a>
		</div>
	</div>

	<h2>Arquivos do processo</h2>

	<div class="row">
		<div class="col-xs-3">
			<div>
				<label for="#">Data de início</label>
				<input type="text" class="form-control datepicker">
			</div>
			<a href="#" class="new-info">Adicionar novo</a>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><br></label>
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="col-xs-2 view-div">
			<a href="#">Visualizar todos</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="save-btn">Salvar</button>
		</div>
	</div>

</form>