<div class="container" id="parts_new">

	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head">
			<h1>Jurídico > Peças > Novo</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= render 'form'%>
		</div>
	</div>

</div>