<div class="container" id="contracts">

	<div class="row">
		<div class="col-xs-12 margin-head">
			<h1>Comercial - Propostas</h1>
			<div class="span-title">
				<span>Lista de contratos</span>
			</div>
		</div>
	</div>

	<!-- Filter -->
	<div class="row">
		<div class="col-xs-12 filter-div">
			<div class="row">
				<div class="col-xs-2">
					<div class="form-group">
						<label>Razão social</label>
						<select class="form-control chosen">
						</select>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<label>Usuário responsável</label>
						<select class="form-control chosen">
						</select>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label>Período de datas</label>
						<input type="text" class="form-control daterange">
						<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
					</div>						
				</div>
				<div class="col-xs-2">
					<input type="submit" name="commit" value="Filtrar" class="datagrid-submit">
				</div>
			</div>
		</div>
	</div>

	<!-- Table -->
	<div class="row">
		<div class="col-xs-12">
			<table class="table datagrid">
				<thead>
					<tr>
						<th>
							Razão Social
						</th>
						<th>
							CNPJ
						</th>
						<th>
							Usuário responsável
						</th>
						<th>
							Telefone
						</th>
						<th>
							Data de início do contrato
						</th>
						<th>
							Ações
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a href="#">Harmis</a>
						</td>
						<td>
							00.000.000/0001-07
						</td>
						<td>
							Lucas Moreira
						</td>
						<td>
							31 3236-1580
						</td>
						<td>
							20/03/2016
						</td>
						<td>
							<div class="actions">
								<a href="#">Visualizar</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- Pagination -->
	<div class="row">
		<div class="col-xs-12 center">
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li class="active"><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
		</div>
	</div>

</div>