<div class="container" id="clients_new">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-form final-margin-contracts">
			<h1>Comercial > <a href="<%= contracts_path %>">Contratos</a> > <a href="<%= edit_contract_path @contract %>">Alterar</a> > <%= @contract.get_social_name %></h1>
		</div>
	</div>
	
	<!-- Panel -->
	<div class="row">
		<div class="col-xs-12">
			<%= render 'form' %>
		</div>
	</div>

</div>