<div class="container" id="class_entities_new">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-form final-margin-entities">
			<h1>Comercial > <a href="<%= entity_classes_path %>">Entidades de classes</a> > <a href="<%= edit_entity_class_path @entity_class %>"><%=@entity_class.name%></a></h1>
		</div>
	</div>
	
	<!-- Form -->
	<div class="row">

		<div class="col-xs-12">

			<%= render 'form' %>

		</div>

	</div>

</div>