<div class="tab-pane active">
	
	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Nome fantasia</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Razão social</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Usuário responsável</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-3">
			<label for="#" class="label-margin">Investimento mensal</label>
		</div>
		<div class="col-xs-3">
			<div class="row">
				<div class="col-xs-8">
					<div class="form-group">
						<label for="#" class="label-weight">Valor da mensalidade fixa*</label>
						<input type="text" class="form-control money">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-1">
			<label for="#" class="label-margin">Desconto</label>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#" class="label-weight">Valor da mensalidade</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-6">
			<div class="form-group">
				<label for="#" class="label-weight">Desconto</label>
				<input type="text" class="form-control">
			</div>				
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#" class="label-weight">Início e término do desconto</label>
				<input type="text" class="form-control daterange">
			</div>				
		</div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-xs-3">
			<label for="#" class="label-margin">Comissão</label>
		</div>
		<div class="col-xs-3">
			<div class="row">
				<div class="col-xs-8">
					<div class="form-group">
						<label for="#" class="label-weight">Valor da comissão fixa*</label>
						<input type="text" class="form-control money">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-1">
			<label for="#" class="label-margin">Desconto</label>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#" class="label-weight">Valor da comissão fixa</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-6">
			<div class="form-group">
				<label for="#" class="label-weight">Desconto</label>
				<input type="text" class="form-control">
			</div>				
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#" class="label-weight">Início e término do desconto</label>
				<input type="text" class="form-control daterange">
			</div>				
		</div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-xs-2 label-fix">
			<label for="#">Indeterminado</label>
			<span>Atuação específica</span>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#" class="label-weight">Valor fixo</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#" class="label-weight">Valor da comissão</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#" class="label-weight">Desconto</label>
				<input type="text" class="form-control money">
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Desconto indicação</label>
				<input type="text" class="form-control">
			</div>
		</div>
	</div>
	
	<div class="add-div">
		<a href="#">Visualizar parceiros</a>
	</div>

	<br><br>

	<div class="form-group">
		<label for="#">Observações</label>
		<textarea class="form-control" rows="2"></textarea>
	</div>

	<div class="add-div">
		<a href="#">Documento XYZ - Data de início 10/10/2017 Data de fim 10/10/2017</a>
		<a href="#">Documento XYZ - Data de início 10/10/2017 Data de fim 10/10/2017</a>
	</div>

	<br>

	<button type="submit" class="save-btn">Salvar</button>

</div>