<div class="tab-pane">

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Tipo</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Nome Fantasia</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Razão social</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Tipo</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Quantidade</label>
				<input type="text" class="form-control">
			</div>
		</div>	
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Valor</label>
				<input type="text" class="form-control money">
			</div>
		</div>	
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data</label>
				<input type="text" class="form-control datepicker">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="#">Observações</label>
				<textarea class="form-control" rows="2"></textarea>
			</div>
		</div>
	</div>

	<button type="submit" class="save-btn">Salvar</button>

</div>