<div class="tab-pane">

	<div class="add-div">
		<a href="#">Pregão 34/2017 0095</a>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Órgão principal</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Carona no processo</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Órgão caroneiro</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Modalidade</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>	
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Número da modalidade</label>
				<input type="text" class="form-control">
			</div>
		</div>	
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Número do processo</label>
				<input type="text" class="form-control">
			</div>
		</div>	
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Portal</label>
				<input type="text" class="form-control">
			</div>
		</div>	
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#"> Número Item / Lote / Grupo</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>	
		<div class="col-xs-4">
			<div class="form-group">
				<label for="#">Descrição</label>
				<input type="text" class="form-control">
			</div>
		</div>	
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor unitário</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor total</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor global</label>
				<input type="text" class="form-control">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor arrematado R$</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor negociado R$</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Comissão BRS R$</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Comissão consultor R$</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Comissão consultor R$</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Indicação pessoal</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor da indicação R$</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Comissão final BRS R$</label>
				<input type="text" class="form-control money">
			</div>			
		</div>		
	</div>

	<div class="add-div">
		<a href="#">Adicionar novo</a>
	</div>

	<hr>

	<h2>Anexar Atas / Contrato / Aditivos</h2>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="col-xs-2 view-div">
			<a href="#">Visualizar</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Número do contrato</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor do contrato</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data de início</label>
				<input type="text" class="form-control datepicker">
			</div>			
		</div>	
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data final</label>
				<input type="text" class="form-control datepicker">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Percentual</label>
				<input type="text" class="form-control">
			</div>				
		</div>
		<div class="col-xs-2 new-margin">
			<a href="#">Adicionar novo</a>
		</div>
	</div>

	<hr>

	<h2>Empenhos</h2>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="col-xs-2 view-div">
			<a href="#">Visualizar</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Número do empenho</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor do empenho</label>
				<input type="text" class="form-control money">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data assinatura</label>
				<input type="text" class="form-control datepicker">
			</div>			
		</div>	
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data de início</label>
				<input type="text" class="form-control datepicker">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data final</label>
				<input type="text" class="form-control">
			</div>				
		</div>
		<div class="col-xs-2 new-margin">
			<a href="#">Adicionar novo</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Valor residual do contrato</label>
				<input type="text" class="form-control">
			</div>				
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Forma de entrega</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>	
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Prazo de entrega (dias)</label>
				<input type="text" class="form-control">
			</div>				
		</div>
	</div>

	<h2 class="margin-title">Endereço de entrega</h2>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">CEP*</label>
				<input type="text" class="form-control cep">
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Logradouro*</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-1">
			<div class="form-group">
				<label for="#">Número*</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Complemento*</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Bairro*</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Cidade*</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Estado*</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
	</div>

	<hr>

	<h2>Nota fiscal</h2>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="col-xs-2 view-div">
			<a href="#">Visualizar</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data da emissão</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data do atesto</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Data vencimento para pagamento</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
		<div class="col-xs-2 new-margin">
			<a href="#">Adicionar novo</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor total NF</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor glosaso pelo órgão NF</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Valor recebido pelo parceiro NF</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor residual da licitação</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Data do pagamento  do valor residual</label>
				<input type="text" class="form-control money">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data da liquidação</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>		
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data pagamento do parceiro</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>	
	</div>

	<h2 class="h2-margin">Comprovante de pagamento do órgão</h2>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="col-xs-2 view-div">
			<a href="#">Visualizar</a>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Comissão BRS R$</label>
				<input type="text" class="form-control money">
			</div>
		</div>		
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Data pagamento comissão BRS</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>	
		<div class="col-xs-2 new-margin">
			<a href="#">Adicionar novo</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Comissão recebida do processo</label>
				<input type="text" class="form-control money">
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="#">Observações</label>
				<textarea class="form-control" rows="2"></textarea>
			</div>
		</div>
	</div>

	<div class="add-div">
		<a href="#">Adicionar novo processo</a>
	</div>

	<br>

	<button type="submit" class="save-btn">Salvar</button>

</div>