<div class="tab-pane">
	
	<h3>Recebimentos</h3>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Valor da mensalidade</label>
				<input type="text" class="form-control money">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Comissão BRS</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período das comissões (De)</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período das comissões (Até)</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Terceiros</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período (De)</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período (Até)</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Valor residual</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período (De)</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período (Até)</label>
				<input type="text" class="form-control datepicker">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Multa contratual</label>
				<input type="text" class="form-control money">
			</div>
		</div>
		<div class="col-xs-9">
			<div class="form-group">
				<label for="#">Motivo</label>
				<input type="text" class="form-control">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Total do fechamento</label>
				<input type="text" class="form-control money">
			</div>
		</div>		
	</div>

	<h2 class="close-fix">Boletos</h2>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="col-xs-1 view-div">
			<a href="#">Visualizar</a>
		</div>
		<div class="col-xs-2 col-fix">
			<div class="form-group">
				<label for="#">Data de emissão</label>
				<input type="text" class="form-control datepicker">
			</div>			
		</div>
		<div class="col-xs-2 col-fix">
			<div class="form-group">
				<label for="#">Data de vencimento</label>
				<input type="text" class="form-control datepicker">
			</div>			
		</div>
	</div>

	<hr class="line-margin">

	<h3>Pagamentos</h3>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Consultor</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Comissão</label>
				<input type="text" class="form-control money">
			</div>				
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período de datas (De)</label>
				<input type="text" class="form-control datepicker">
			</div>				
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período de datas (Até)</label>
				<input type="text" class="form-control datepicker">
			</div>				
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Intermediador</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Comissão</label>
				<input type="text" class="form-control money">
			</div>				
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período de datas (De)</label>
				<input type="text" class="form-control datepicker">
			</div>				
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Período de datas (Até)</label>
				<input type="text" class="form-control datepicker">
			</div>				
		</div>
	</div>

	<div class="form-group">
		<label for="#">Observações</label>
		<textarea class="form-control" rows="2"></textarea>
	</div>

	<button type="submit" class="save-btn">Salvar</button>

</div>