<div class="container" id="users_new">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head final-margin">
			<h1><a href="<%= users_path %>">Usuários</a> > <a href="<%= edit_user_path @user %>">Alterar</a> > <%= @user.name %></h1>
		</div>
	</div>
	
	<!-- Form -->
	<div class="row">
		<%= render 'form' %>
	</div>

</div>