<div class="container" id="users_new">

	<div class="row">
		<div class="col-xs-12 margin-head final-margin">
			<h1><a href="<%= users_path %>">Usuários</a> > <a href="<%= new_user_path %>">Novo</a></h1>
		</div>
	</div>

	<!-- Form -->
	<div class="row">
		<!-- Head -->
		<%= render 'form' %>
	</div>

</div>