<!-- Modal -->
<div class="modal fade" id="show_actions_event" tabindex="-1" role="dialog" aria-labelledby="showActionsEvent" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Fechar</span>
        </button>

      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <a href="#" id="link_to_edit">Excluir</a>
      </div>

      <div class="modal-body">
        <a href="#" id="link_to_destroy" data-confirm="Você tem certeza?" data-method="delete">Excluir</a>
      </div>

    </div>
  </div>
</div>
