<div class="container" id="libraries_new">

	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head final-margin-library_categories">
			<h1>Jurídico > Biblioteca > <a href="<%= libraries_path %>">Publicações</a> > <a href="<%= edit_library_path @library %>">Alterar</a></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= render 'form'%>
		</div>
	</div>

</div>