<div class="edit-delete-">
	<a title="Editar" href="<%= edit_piece_path(object) %>">Alterar</a>
	<a title="Excluir" data-confirm="Tem certeza que deseja excluir" rel="nofollow" data-method="delete" href="<%= piece_path(object) %>">Excluir</a>
</div>