<div class="container" id="pieces_new">

	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head final-margin-pieces">
			<h1>Jurídico > <a href="<%= pieces_path %>">Peças</a> > <a href="<%= edit_piece_path @piece %>">Alterar</a></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= render 'form'%>
		</div>
	</div>

</div>