<div class="container" id="visit_reports_new">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-form final-margin-vr">
			<h1>Comercial > <a href="<%= visits_reports_path %>">Relatório de Visitas</a> > <a href="<%= edit_visits_report_path @visits_report %>">Alterar</a> > <%= @visits_report.social_name %></h1>
		</div>
	</div>
	
	<!-- Form -->
	<div class="row">
		<%= render 'form' %>
	</div>

</div>