<div class="container" id="portals-new">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-form">
			<h1>Cadastros > <a href="<%= bid_newspapers_path %>">Jornais de Licitação</a> > <a href="<%= edit_bid_newspaper_path @bid_newspaper %>">Alterar</a> > <%= @bid_newspaper.social_name %></h1>
		</div>
	</div>
	
	<!-- Form -->
	<div class="row">
		<%= render 'form' %>
	</div>

</div>