<div id="show_text_notification_<%=object.id%>" class="mfp-hide white-popup-block parts-modal">
	<h1 style="margin-top: 0;">Ação</h1>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<%= object.text.html_safe %>
			</div>									
		</div>
	</div>
	<p class="close-modal"><a class="popup-modal-dismiss" href="#">x</a></p>
</div>