<form>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Categoria</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Título</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Nome do autor</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="col-xs-1">
			<div class="form-group">
				<label for="#">Ediçāo</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Ano de publicaçāo</label>
				<input type="text" class="form-control">
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Editora</label>
				<input type="text" class="form-control">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">ISBN</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label for="#">Link</label>
				<input type="text" class="form-control">
			</div>				
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data sancionada</label>
				<input type="text" class="form-control datepicker">
			</div>				
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Tribunal</label>
				<input type="text" class="form-control">
			</div>				
		</div>
		<div class="col-xs-1">
			<div class="form-group">
				<label for="#">Estado</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Município</label>
				<select class="form-control chosen">
					<option>Selecione</option>
				</select>
			</div>			
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Número do documento</label>
				<input type="text" class="form-control">
			</div>				
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Número do processo</label>
				<input type="text" class="form-control">
			</div>				
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="#">Data do processo</label>
				<input type="text" class="form-control datepicker">
			</div>				
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="#">Referência legislativa</label>
				<input type="text" class="form-control">
			</div>				
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div>
				<label for="#">Descrição</label>
				<textarea class="form-control" rows="4"></textarea>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="#">Palavras chave</label>
				<input type="text" class="form-control">
			</div>				
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Arquivo</label>
				<input type="file" class="form-control">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="save-btn">Salvar</button>
		</div>
	</div>

<form>