<form>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#">Nome da categoria</label>
				<input type="text" class="form-control">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="save-btn">Salvar</button>
		</div>
	</div>

<form>