<div class="container" id="libraries_new">

	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head">
			<h1>Biblioteca > Novo</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= render 'form_library'%>
		</div>
	</div>

</div>