<div class="container" id="library_index">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head">
			<h1 class="inline">Biblioteca</h1>
			<a class="pull-right new-btn" href="/library_index_form">Novo</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10">

			<div class="row first-margin">

				<!-- Titulo -->
				<div class="col-xs-3 width-fix">
					<h3>Categorias</h3>
				</div>

				<!-- Buscar -->
				<div class="col-xs-7">
					<form>
						<input type="text" class="form-control" placeholder="pesquisar...">
					</form>
				</div>

				<!-- Button -->
				<div class="col-xs-2 padding-fix">
					<button type="sumibt" class="search-btn">Pesquisar</button>
				</div>

			</div>

			<div class="row">

				<!-- Menu -->
				<div class="col-xs-3 width-fix">
					<div>
						<ul>
							<li>
								<a href="#">Estudo de caso</a>
							</li>
							<li>
								<a href="#">Modelos de documento</a>
							</li>
							<li>
								<a href="#">Artigos</a>
							</li>
							<li>
								<a href="#">Jurisprudência</a>
							</li>
							<li>
								<a href="#">Doutrina</a>
							</li>
							<li>
								<a href="#">Tratados</a>
							</li>
							<li>
								<a href="#">Livros</a>
							</li>
							<li>
								<a href="#">Revistas</a>
							</li>
							<li>
								<a href="#">Dicionário</a>
							</li>
							<li>
								<a href="#">Vídeos</a>
							</li>
							<li>
								<a href="#">Códigos</a>
							</li>
							<li>
								<a href="#">Constituição Federal</a>
							</li>
							<li>
								<a href="#">Constituição Estadua</a>
							</li>
							<li>
								<a href="#">Lei Federal</a>
							</li>
							<li>
								<a href="#">Lei Estadual</a>
							</li>
							<li>
								<a href="#">Lei Municipal</a>
							</li>
							<li>
								<a href="#">Lei Complementar</a>
							</li>
							<li>
								<a href="#">Lei Orgânica</a>
							</li>
							<li>
								<a href="#">Decreto Federal</a>
							</li>
							<li>
								<a href="#">Decreto Estadual</a>
							</li>
							<li>
								<a href="#">Decreto Municipal</a>
							</li>
							<li>
								<a href="#">Portaria</a>
							</li>
							<li>
								<a href="#">Súmula</a>
							</li>
							<li>
								<a href="#">Acordão</a>
							</li>
							<li>
								<a href="#">Instrução Normativa</a>
							</li>
							<li>
								<a href="#">Resolução Normativa</a>
							</li>
							<li>
								<a href="#">Resolução</a>
							</li>
							<li>
								<a href="#">Decisões democráticas</a>
							</li>
						</ul>
					</div>
				</div>

				<!-- Conteudo -->
				<div class="col-xs-8 content-div">

					<div>
						<h2>Título da publicação</h2>
						<span>Adicionado à biblioteca 10/10/2017</span>
						<span>Última alteração em 11/10/2017</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<span>
							Autor: Fulano de Tal - Editora: ABC - Edição: 2 - Ano de publicação: 2017 - ISBN: 85-7308-760-90000
						</span>
					</div>

					<hr>

					<div>
						<h2>Título da publicação</h2>
						<span>Adicionado à biblioteca 10/10/2017</span>
						<span>Última alteração em 11/10/2017</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<span>
							Autor: Fulano de Tal - Editora: ABC - Edição: 2 - Ano de publicação: 2017 - ISBN: 85-7308-760-90000
						</span>
					</div>

					<hr>

					<div>
						<h2>Título da publicação</h2>
						<span>Adicionado à biblioteca 10/10/2017</span>
						<span>Última alteração em 11/10/2017</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<span>
							Autor: Fulano de Tal - Editora: ABC - Edição: 2 - Ano de publicação: 2017 - ISBN: 85-7308-760-90000
						</span>
					</div>

				</div>

			</div>

		</div>
	</div>

</div>