<div class="container" id="communications_new">

	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head final-margin-lawyers">
			<h1><a href="<%= communications_path %>">Comunicação interna</a> > <a href="<%= edit_communication_path @communication %>">Alterar</a> > <%= @communication.subject %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= render 'form'%>
		</div>
	</div>

</div>