<div class="edit-delete-">

	<a title="Editar" href="<%= edit_official_diary_path(object) %>">Alterar
	</a>

	<a title="Excluir" data-confirm="Tem certeza que deseja excluir" rel="nofollow" data-method="delete" href="<%= official_diary_path(object) %>">Excluir
	</a>
</div>