<div class="container" id="portals-new">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-form">
			<h1>Cadastros > <a href="<%= official_diaries_path %>">Diários Oficiais</a> > <a href="<%= edit_official_diary_path @official_diary %>">Alterar</a> > <%= @official_diary.name %></h1>
		</div>
	</div>
	
	<!-- Form -->
	<div class="row">
		<%= render 'form' %>
	</div>

</div>