<div class="container" id="finances_new">

	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head final-margin-pieces">
			<h1>Financeiro > <a href="<%= financials_path %>">Por clientes</a> > <a href="<%= edit_financial_path @financial %>">Alterar > </a> <%=@financial.client.fantasy_name%></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= render 'form'%>
		</div>
	</div>

</div>