.final-margin {
	margin-top: 60px !important;
	margin-bottom: 0 !important;
}

.final-margin-vr {
    margin-top: 90px !important;
    margin-bottom: 31px !important;
}

.final-margin-proposals {
	margin-top: -31px !important;
    margin-bottom: 30px !important;
}

.final-margin-contracts {
	margin-top: 90px !important;
    margin-bottom: 29px !important;
}

.final-margin-entities {
 	margin-top: -31px !important;
    margin-bottom: 31px !important;
}

.final-margin-biddings {
	margin-top: 90px;
	margin-bottom: 28px !important;
}

.final-margin-lawyers {
	margin-bottom: 29px !important;	
}

.final-margin-clients {
    margin-top: 89px !important;
    margin-bottom: 30px !important;
}

.final-margin-organs {
    margin-top: -27px !important;
    margin-bottom: 30px !important;
}

.final-margin-crc {
    margin-top: -28px !important;
    margin-bottom: 30px !important;
}