.cnpj_organ {
	min-width: 139px;
}

.phone_organ {
	min-width: 139px;
}

.sector_organ {
	min-width: 100px;
}

.actions_organ {
	min-width: 139px;
}

.sphere_organ {
	min-width: 100px;
}

.identification_number_organ {
	min-width: 170px;
}

.id_organ {
	min-width: 110px;
}

