.show_div_with_piece_process_files {
    font-size: 13px;
    margin-bottom: 11px;
}

.pieces_grid {

	label[for="color_situation_piece_1"] {
        background: #BEBEBE;
        border-radius: 50%;
        width: 20px;
        height: 20px;        
    }
	label[for="color_situation_piece_2"] {
        background: #FF0000;
        border-radius: 50%;
        width: 20px;
        height: 20px;        
    }
    label[for="color_situation_piece_3"] {
        background: #00FF00;
        border-radius: 50%;
        width: 20px;
        height: 20px;        
    }
	label[for="color_situation_piece_4"] {
        background: #0000FF;
        border-radius: 50%;
        width: 20px;
        height: 20px;        
    }
}

.delete_attachment_piece {
    cursor: pointer;
}

.delete_historic_situation_piece {
    cursor: pointer;
}

.slide_historic_observations {
    cursor: pointer;
}

.show_div_with_piece_process_files {
    cursor: pointer;
}

#pieces {
    
    .margin-head {
        margin-bottom: 50px;
    }

    .datagrid {
        margin-top: 6px;
    }

    label[for="pieces_grid_piece_result"] {
        margin-top: 10px;
    }

    th.deadline {
        min-width: 112px;
    }

    .datagrid-filter .date_filter {
        display: inline;
        width: 98px;
        height: 30px;
        box-shadow: none !important;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .datagrid-actions {
        position: relative;
        top: 27px;
    }
}

.parts-modal {

    h1 {
        margin-bottom: 33px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    h2 {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 3px;
        color: black;
        font-weight: 700;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    p {
        margin-top: 35px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    span {
        font-size: 13px;
        font-weight: 400;
        color: #3E3E3E;
        line-height: 0;
        letter-spacing: 0;
    }

    .close-modal {

        position: absolute;
        top: 3px;
        right: 10px;
        margin: 0;

        a {
            color: black;
            text-decoration: none;
            font-weight: 400;
            font-style: normal;
            &:hover {color: black; text-decoration: none;}
            &:focus {color: black; text-decoration: none; outline: 0;}
        }
    }
}

#pieces_new {
    
    .margin-head {
        margin-top: 90px;
        margin-bottom: 25px;
    }

    h2 {
        margin-top: 9px;
        margin-bottom: 23px;
    }

    .save-btn {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    input[type="file"] {
        border: 0;
        padding-left: 0;
        padding-right: 0;
        background: transparent;
    }

    .new-info {
        text-decoration: underline;
        font-size: 12px;
        color: #4595D1;     
    }

    .content {

        margin-bottom: 9px;
        
        span {
            font-size: 14px;
            font-weight: 600;
            color: #3E3E3E;
        }

        .title {
            cursor: pointer;
        }
    }
}