<div class="container" id="library_categories_new">

	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head final-margin-pieces">
			<h1>Jurídico > Biblioteca > <a href="<%= library_categories_path %>">Categorias</a> > <a href="<%= new_library_category_path%>">Novo</a></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= render 'form'%>
		</div>
	</div>

</div>