<div class="edit-delete-">

	<a title="Editar" href="<%= edit_organ_path(object.organ) %>">Alterar
	</a>

	<a title="Excluir" data-confirm="Tem certeza que deseja excluir" rel="nofollow" data-method="delete" href="<%= delete_sector_path(object) %>">Excluir
	</a>
</div>