<div class="container" id="organizations_new">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-form final-margin-organs">
			<h1>Cadastros > <a href="<%= organs_path %>">Orgãos</a> > <a href="<%= edit_organ_path @organ %>">Alterar</a> > <%= @organ.name %></h1>
		</div>
	</div>
	
	<!-- Form -->
	<div class="row">
		<%= render 'form' %>
	</div>

</div>