<div class="edit-delete-">

	<a title="Editar" href="<%= edit_registration_unit_path(object.registration_unit) %>">Alterar
	</a>

	<a title="Excluir" data-confirm="Tem certeza que deseja excluir" rel="nofollow" data-method="delete" href="<%= delete_responsible_registration_unit_path(object) %>">Excluir
	</a>
</div>