<div class="container" id="organizations_crcs_new">
	<div class="row">
		<div class="col-xs-12 margin-form final-margin-crc">
			<h1>Cadastros > <a href="<%= registration_units_path %>">Documents CRCs - Unidades de cadastramento</a> > <a href="<%= edit_registration_unit_path @registration_unit %>">Alterar</a> > <%= @registration_unit.name %></h1>
			
		</div>
	</div>
	<!-- Form -->
	<div class="row">
		<div class="col-xs-12">
			<%= render 'form' %>
		</div>
	</div>
</div>