<div class="dropdown-container custom-scroll">
    <div class="open-historic">
        <a href="<%= notifications_path %>">Visualizar histórico de notificações</a>
    </div>
    <div id="group_notifications" class="notification-box">
        <!-- <div>
            <p>
                Contrato <b>PNEUPAM</b> cadastrado com sucesso por <b>Fabrício Antunes </b>
            </p>
            <span>10/10/2017</span>
            <div class="form-group">
                <span>Marcar como lida?</span>
                <label class="checkbox-inline"><input type="checkbox">Sim</label>
                <label class="checkbox-inline"><input type="checkbox">Nāo</label>
            </div>
        </div>
        <hr>
        <div>
            <p>
                Contrato <b>PNEUPAM</b> cadastrado com sucesso por <b>Fabrício Antunes </b>
            </p>
            <span>10/10/2017</span>
            <div class="form-group">
                <span>Marcar como lida?</span>
                <label class="checkbox-inline"><input type="checkbox">Sim</label>
                <label class="checkbox-inline"><input type="checkbox">Nāo</label>
            </div>
        </div>  -->     
    </div>
</div>